@model string

<!DOCTYPE html>
<html>
<head>
    <title>Mostrar Factura</title>
</head>
<body>
    <script>
        window.location.href = '/PDF/Show?pdfFilePath=@Model';
    </script>
</body>
</html>
