CREATE DATABASE tiendaLCDE
GO
USE [tiendaLCDE]
GO
/****** Object:  Table [dbo].[auditoria]    Script Date: 06/06/2023 22:29:08 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[auditoria](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[fecha] [date] NOT NULL,
	[hora] [time](7) NOT NULL,
	[tipo_transaccion] [varchar](150) NOT NULL,
	[descripcion] [varchar](max) NOT NULL,
	[usuario] [varchar](150) NOT NULL,
 CONSTRAINT [PK__auditori__3213E83F1914763C] PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[caja]    Script Date: 06/06/2023 22:29:09 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[caja](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[numero_caja] [int] NOT NULL,
	[monto_ultimo_cierre] [decimal](16, 2) NOT NULL,
	[estado] [varchar](50) NOT NULL,
 CONSTRAINT [PK__caja__3213E83FF0CBB370] PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[categoria_productos]    Script Date: 06/06/2023 22:29:09 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[categoria_productos](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[nombre] [varchar](100) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[clientes]    Script Date: 06/06/2023 22:29:09 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[clientes](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[nombre] [varchar](150) NOT NULL,
	[direccion] [varchar](max) NOT NULL,
	[telefono] [int] NULL,
	[correo] [varchar](150) NULL,
	[NIT] [varchar](20) NULL,
PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[despacho]    Script Date: 06/06/2023 22:29:09 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[despacho](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[id_encabezado_factura] [int] NOT NULL,
	[fecha_despacho] [datetime] NOT NULL,
	[estado] [varchar](50) NOT NULL,
 CONSTRAINT [PK_despacho] PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[detalle_factura]    Script Date: 06/06/2023 22:29:09 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[detalle_factura](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[subtotal] [decimal](16, 2) NOT NULL,
	[cantidad] [int] NOT NULL,
	[id_producto] [int] NOT NULL,
	[id_encabezado_factura] [int] NOT NULL,
	[descuento] [decimal](16, 2) NULL,
PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[devoluciones]    Script Date: 06/06/2023 22:29:09 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[devoluciones](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[cantidad] [int] NOT NULL,
	[motivo] [varchar](max) NOT NULL,
	[id_producto] [int] NOT NULL,
	[fecha] [date] NULL,
	[tipo_devolucion] [varchar](50) NULL,
PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[encabezado_factura]    Script Date: 06/06/2023 22:29:09 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[encabezado_factura](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[serie] [varchar](150) NOT NULL,
	[fecha] [datetime] NOT NULL,
	[id_tipo_pago] [int] NOT NULL,
	[id_cliente] [int] NOT NULL,
 CONSTRAINT [PK__encabeza__3213E83F5228E1D7] PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[precios_producto]    Script Date: 06/06/2023 22:29:09 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[precios_producto](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[id_producto] [int] NOT NULL,
	[precio_unidad] [decimal](16, 2) NOT NULL,
	[descuento_producto] [decimal](16, 2) NULL,
	[fecha_modificacion_precio] [datetime] NULL,
 CONSTRAINT [PK_precios_producto] PRIMARY KEY CLUSTERED 
(
	[id_producto] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[productos]    Script Date: 06/06/2023 22:29:09 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[productos](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[detalle] [varchar](max) NOT NULL,
	[existencia] [int] NOT NULL,
	[id_categoria] [int] NOT NULL,
	[id_proveedor] [int] NOT NULL,
	[id_promocion] [int] NULL,
 CONSTRAINT [PK__producto__3213E83F7DA98DEF] PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[promociones]    Script Date: 06/06/2023 22:29:09 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[promociones](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[descripcion] [varchar](150) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[proveedores]    Script Date: 06/06/2023 22:29:09 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[proveedores](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[nombre] [varchar](150) NOT NULL,
	[direccion] [varchar](max) NOT NULL,
	[telefono] [int] NOT NULL,
	[Correo] [varchar](150) NULL,
	[NIT] [varchar](20) NULL,
PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Registro_de_caja]    Script Date: 06/06/2023 22:29:09 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Registro_de_caja](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[fecha] [datetime] NOT NULL,
	[turno] [int] NOT NULL,
	[id_caja] [int] NOT NULL,
	[id_usuario] [varchar](150) NOT NULL,
	[tipo_registro] [varchar](20) NOT NULL,
	[monto] [decimal](16, 2) NOT NULL,
 CONSTRAINT [PK__Registro__3213E83FB4EE6748] PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[tipo_pago]    Script Date: 06/06/2023 22:29:09 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[tipo_pago](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[tipo] [varchar](100) NOT NULL,
 CONSTRAINT [PK_tipo_pago] PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[usuarios]    Script Date: 06/06/2023 22:29:09 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[usuarios](
	[id] [varchar](150) NOT NULL,
	[nombre_usuario] [varchar](100) NOT NULL,
	[contrasennia] [varchar](max) NOT NULL,
	[correo] [varchar](150) NOT NULL,
 CONSTRAINT [PK__usuarios__3213E83F4C3D9306] PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  View [dbo].[DevolucionesPorCategoria]    Script Date: 06/06/2023 22:29:09 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE VIEW [dbo].[DevolucionesPorCategoria] AS
SELECT
categoria_productos.nombre AS Categoria,
devoluciones.cantidad AS CantidadDevuelta,
detalle_factura.cantidad  AS CantidadVendida,
detalle_factura.subtotal AS MontoVendido
FROM detalle_factura
INNER JOIN devoluciones ON detalle_factura.id_producto=devoluciones.id_producto
INNER JOIN categoria_productos ON devoluciones.id_producto=categoria_productos.id
GO
/****** Object:  View [dbo].[Reporte_Diario_Venta_por_Categoria]    Script Date: 06/06/2023 22:29:09 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
	CREATE VIEW [dbo].[Reporte_Diario_Venta_por_Categoria] AS 
	SELECT
	categoria_productos.nombre AS Categoria,
	CAST(encabezado_factura.fecha AS DATE) AS Fecha,
	SUM(detalle_factura.cantidad) AS CantidadVendida,
	SUM(detalle_factura.subtotal) AS MontoVendido,
	SUM(detalle_factura.descuento) AS MontoDescuento
	FROM detalle_factura 
	INNER JOIN productos ON detalle_factura.id_producto=productos.id
	INNER JOIN encabezado_factura ON encabezado_factura.id=detalle_factura.id_encabezado_factura
	INNER JOIN categoria_productos ON productos.id_categoria=categoria_productos.id
	GROUP BY categoria_productos.nombre, CAST(encabezado_factura.fecha AS DATE)
GO
/****** Object:  View [dbo].[ReporteCorteCajaPorTurno]    Script Date: 06/06/2023 22:29:09 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE VIEW [dbo].[ReporteCorteCajaPorTurno] AS
	SELECT 
	Registro_de_caja.fecha AS Fecha,
	Registro_de_caja.turno	AS Turno,
	caja.numero_caja AS NumeroDeCaja,
	SUM(Registro_de_caja.monto) AS MontoVendido
	FROM Registro_de_caja
	INNER JOIN caja ON Registro_de_caja.id_caja=caja.id
	GROUP BY Registro_de_caja.fecha, Registro_de_caja.turno, caja.numero_caja
GO
/****** Object:  View [dbo].[ReporteDevolucionesPorCategoria]    Script Date: 06/06/2023 22:29:09 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE VIEW [dbo].[ReporteDevolucionesPorCategoria] AS
SELECT
categoria_productos.nombre AS Categoria,
devoluciones.cantidad AS CantidadDevuelta,
devoluciones.motivo AS Motivo,
devoluciones.fecha AS Fecha
FROM devoluciones
INNER JOIN productos ON devoluciones.id_producto=productos.id
INNER JOIN categoria_productos ON productos.id_categoria=categoria_productos.id
GO
/****** Object:  View [dbo].[ReporteVentasPorCategoria]    Script Date: 06/06/2023 22:29:09 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE VIEW [dbo].[ReporteVentasPorCategoria] AS
SELECT
categoria_productos.nombre AS Categoria,
productos.detalle AS Producto,
detalle_factura.cantidad  AS CantidadVendida,
detalle_factura.subtotal AS MontoVendido,
CAST(encabezado_factura.fecha AS DATE) AS Fecha
FROM detalle_factura
INNER JOIN productos ON detalle_factura.id_producto=productos.id
INNER JOIN categoria_productos ON productos.id_categoria=categoria_productos.id
INNER JOIN encabezado_factura ON encabezado_factura.id=detalle_factura.id_encabezado_factura
GO
SET IDENTITY_INSERT [dbo].[auditoria] ON 

INSERT [dbo].[auditoria] ([id], [fecha], [hora], [tipo_transaccion], [descripcion], [usuario]) VALUES (2, CAST(N'2023-06-03' AS Date), CAST(N'05:23:55.2166667' AS Time), N'INSERT', N'DEVOLUCION CREADA NO.12', N'sa')
INSERT [dbo].[auditoria] ([id], [fecha], [hora], [tipo_transaccion], [descripcion], [usuario]) VALUES (3, CAST(N'2023-06-03' AS Date), CAST(N'05:27:33.3900000' AS Time), N'DELETE', N'DEVOLUCION BORRADA NO.12', N'sa')
INSERT [dbo].[auditoria] ([id], [fecha], [hora], [tipo_transaccion], [descripcion], [usuario]) VALUES (4, CAST(N'2023-06-03' AS Date), CAST(N'05:37:58.8733333' AS Time), N'INSERT', N'VENTA CREADA NO.94', N'sa')
SET IDENTITY_INSERT [dbo].[auditoria] OFF
GO
SET IDENTITY_INSERT [dbo].[caja] ON 

INSERT [dbo].[caja] ([id], [numero_caja], [monto_ultimo_cierre], [estado]) VALUES (1, 1, CAST(148047.75 AS Decimal(16, 2)), N'abierto')
SET IDENTITY_INSERT [dbo].[caja] OFF
GO
SET IDENTITY_INSERT [dbo].[categoria_productos] ON 

INSERT [dbo].[categoria_productos] ([id], [nombre]) VALUES (1, N'Lacteos')
INSERT [dbo].[categoria_productos] ([id], [nombre]) VALUES (2, N'Bebidas')
INSERT [dbo].[categoria_productos] ([id], [nombre]) VALUES (3, N'Pastas')
SET IDENTITY_INSERT [dbo].[categoria_productos] OFF
GO
SET IDENTITY_INSERT [dbo].[clientes] ON 

INSERT [dbo].[clientes] ([id], [nombre], [direccion], [telefono], [correo], [NIT]) VALUES (1011, N'Edgar Fernando Ajset Nimacaché', N'5ta av. 9-38 Siquinalá', 48173198, N'fernando_ajset@hotmail.com', N'84030577')
INSERT [dbo].[clientes] ([id], [nombre], [direccion], [telefono], [correo], [NIT]) VALUES (1012, N'Brizeth Jazmin Alvarado López', N'Siquinala', 42296658, N'brizalvarado@outlook.com', N'88998533')
INSERT [dbo].[clientes] ([id], [nombre], [direccion], [telefono], [correo], [NIT]) VALUES (1016, N'Tienda El Edén', N'km87, carretera a Masagua, Escuintla', 48792361, N'jorgeLucast01@gmail.com', N'54698732')
SET IDENTITY_INSERT [dbo].[clientes] OFF
GO
SET IDENTITY_INSERT [dbo].[detalle_factura] ON 

INSERT [dbo].[detalle_factura] ([id], [subtotal], [cantidad], [id_producto], [id_encabezado_factura], [descuento]) VALUES (10, CAST(31.00 AS Decimal(16, 2)), 2, 3, 1, NULL)
INSERT [dbo].[detalle_factura] ([id], [subtotal], [cantidad], [id_producto], [id_encabezado_factura], [descuento]) VALUES (12, CAST(11.25 AS Decimal(16, 2)), 3, 4, 1, NULL)
INSERT [dbo].[detalle_factura] ([id], [subtotal], [cantidad], [id_producto], [id_encabezado_factura], [descuento]) VALUES (13, CAST(17.00 AS Decimal(16, 2)), 1, 5, 1, NULL)
GO
SET IDENTITY_INSERT [dbo].[detalle_factura] OFF
GO
SET IDENTITY_INSERT [dbo].[devoluciones] ON 

INSERT [dbo].[devoluciones] ([id], [cantidad], [motivo], [id_producto], [fecha], [tipo_devolucion]) VALUES (9, 1, N'INCONFORMIDAD', 3, CAST(N'2023-06-02' AS Date), N'Empaque roto')
INSERT [dbo].[devoluciones] ([id], [cantidad], [motivo], [id_producto], [fecha], [tipo_devolucion]) VALUES (10, 2, N'empaque roto', 3, CAST(N'2023-06-02' AS Date), N'Empaque roto')
INSERT [dbo].[devoluciones] ([id], [cantidad], [motivo], [id_producto], [fecha], [tipo_devolucion]) VALUES (14, 5, N'aplastamiento', 6, CAST(N'2023-06-03' AS Date), N'Empaque roto')
SET IDENTITY_INSERT [dbo].[devoluciones] OFF
GO
SET IDENTITY_INSERT [dbo].[encabezado_factura] ON 

INSERT [dbo].[encabezado_factura] ([id], [serie], [fecha], [id_tipo_pago], [id_cliente]) VALUES (1, N'85elk23', CAST(N'2023-05-25T00:00:00.000' AS DateTime), 1, 1021)
INSERT [dbo].[encabezado_factura] ([id], [serie], [fecha], [id_tipo_pago], [id_cliente]) VALUES (2, N'85elk23', CAST(N'2023-05-25T00:00:00.000' AS DateTime), 2, 1022)
INSERT [dbo].[encabezado_factura] ([id], [serie], [fecha], [id_tipo_pago], [id_cliente]) VALUES (9, N'FA0152', CAST(N'2023-06-01T00:00:00.000' AS DateTime), 2, 1011)
SET IDENTITY_INSERT [dbo].[encabezado_factura] OFF
GO
SET IDENTITY_INSERT [dbo].[precios_producto] ON 

INSERT [dbo].[precios_producto] ([id], [id_producto], [precio_unidad], [descuento_producto], [fecha_modificacion_precio]) VALUES (1, 3, CAST(15.75 AS Decimal(16, 2)), CAST(0.00 AS Decimal(16, 2)), CAST(N'2023-05-28T17:58:22.800' AS DateTime))
INSERT [dbo].[precios_producto] ([id], [id_producto], [precio_unidad], [descuento_producto], [fecha_modificacion_precio]) VALUES (2, 4, CAST(4.75 AS Decimal(16, 2)), CAST(1.00 AS Decimal(16, 2)), CAST(N'2023-05-25T02:27:51.713' AS DateTime))
INSERT [dbo].[precios_producto] ([id], [id_producto], [precio_unidad], [descuento_producto], [fecha_modificacion_precio]) VALUES (3, 5, CAST(17.00 AS Decimal(16, 2)), CAST(0.00 AS Decimal(16, 2)), CAST(N'2023-05-25T02:27:51.713' AS DateTime))
SET IDENTITY_INSERT [dbo].[precios_producto] OFF
GO
SET IDENTITY_INSERT [dbo].[productos] ON 

INSERT [dbo].[productos] ([id], [detalle], [existencia], [id_categoria], [id_proveedor], [id_promocion]) VALUES (3, N'CAJA LECHE PRIMAVERA', 25, 1, 7, NULL)
INSERT [dbo].[productos] ([id], [detalle], [existencia], [id_categoria], [id_proveedor], [id_promocion]) VALUES (4, N'ARROZ LIBRA', 34, 4, 4, 1)
INSERT [dbo].[productos] ([id], [detalle], [existencia], [id_categoria], [id_proveedor], [id_promocion]) VALUES (5, N'LITRO DESINFECTANTE', 29, 6, 6, 3)
SET IDENTITY_INSERT [dbo].[productos] OFF
GO
SET IDENTITY_INSERT [dbo].[promociones] ON 

INSERT [dbo].[promociones] ([id], [descripcion]) VALUES (1, N'DESCUENTO')
INSERT [dbo].[promociones] ([id], [descripcion]) VALUES (2, N'Sobre de una porción de cereal GRATIS')
INSERT [dbo].[promociones] ([id], [descripcion]) VALUES (3, N'Segundo producto a mitad de precio')
SET IDENTITY_INSERT [dbo].[promociones] OFF
GO
SET IDENTITY_INSERT [dbo].[proveedores] ON 

INSERT [dbo].[proveedores] ([id], [nombre], [direccion], [telefono], [Correo], [NIT]) VALUES (1, N'Plasticos Interfoam S.A.', N'5ta av. 4a calle 9-87, zona 3 Guatemala', 78800620, N'ventas@interfoam.com', N'4879562-0')
INSERT [dbo].[proveedores] ([id], [nombre], [direccion], [telefono], [Correo], [NIT]) VALUES (2, N'Alimentos Maravilla S.A.', N'km 48, carretera occidente', 79256348, N'info@maravilla.com', N'4879562-1')
INSERT [dbo].[proveedores] ([id], [nombre], [direccion], [telefono], [Correo], [NIT]) VALUES (3, N'Moldeados del Sur', N'km77 autopista Puerto San Juan, Totouca', 74659876, N'comprar@moldeadosdelsur.com', N'48952-7')
SET IDENTITY_INSERT [dbo].[proveedores] OFF
GO
SET IDENTITY_INSERT [dbo].[Registro_de_caja] ON 

INSERT [dbo].[Registro_de_caja] ([id], [fecha], [turno], [id_caja], [id_usuario], [tipo_registro], [monto]) VALUES (8, CAST(N'2023-05-25T23:59:00.000' AS DateTime), 1, 1, N'3', N'Corte', CAST(500.00 AS Decimal(16, 2)))
INSERT [dbo].[Registro_de_caja] ([id], [fecha], [turno], [id_caja], [id_usuario], [tipo_registro], [monto]) VALUES (9, CAST(N'2023-05-01T23:59:00.000' AS DateTime), 1, 1, N'3', N'Corte', CAST(500.00 AS Decimal(16, 2)))
INSERT [dbo].[Registro_de_caja] ([id], [fecha], [turno], [id_caja], [id_usuario], [tipo_registro], [monto]) VALUES (10, CAST(N'2023-06-01T23:59:00.000' AS DateTime), 1, 1, N'3', N'Corte', CAST(500.00 AS Decimal(16, 2)))
SET IDENTITY_INSERT [dbo].[Registro_de_caja] OFF
GO
SET IDENTITY_INSERT [dbo].[tipo_pago] ON 

INSERT [dbo].[tipo_pago] ([id], [tipo]) VALUES (1, N'Efectivo')
INSERT [dbo].[tipo_pago] ([id], [tipo]) VALUES (2, N'Pago con tarjeta')
SET IDENTITY_INSERT [dbo].[tipo_pago] OFF
GO
INSERT [dbo].[usuarios] ([id], [nombre_usuario], [contrasennia], [correo]) VALUES (N'10', N'Carmelina Xioc', N'xi0c023', N'cxioc@lcde.com')
INSERT [dbo].[usuarios] ([id], [nombre_usuario], [contrasennia], [correo]) VALUES (N'11', N'Pedro Lopez', N'P3dr0', N'plopez@lcde.com')
INSERT [dbo].[usuarios] ([id], [nombre_usuario], [contrasennia], [correo]) VALUES (N'12', N'Junnior Solorzano', N'Jnuui0r', N'jsolorzano@lcde.com')
GO
/****** Object:  Index [IDX_auditoria]    Script Date: 06/06/2023 22:29:20 ******/
CREATE NONCLUSTERED INDEX [IDX_auditoria] ON [dbo].[auditoria]
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
/****** Object:  Index [IDX_categoria_producto]    Script Date: 06/06/2023 22:29:20 ******/
CREATE NONCLUSTERED INDEX [IDX_categoria_producto] ON [dbo].[categoria_productos]
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
/****** Object:  Index [IDX_CLIENTES]    Script Date: 06/06/2023 22:29:20 ******/
CREATE NONCLUSTERED INDEX [IDX_CLIENTES] ON [dbo].[clientes]
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [IDX_CLIENTES_NIT]    Script Date: 06/06/2023 22:29:20 ******/
CREATE NONCLUSTERED INDEX [IDX_CLIENTES_NIT] ON [dbo].[clientes]
(
	[NIT] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
/****** Object:  Index [IDX_PROVEEDORES]    Script Date: 06/06/2023 22:29:20 ******/
CREATE NONCLUSTERED INDEX [IDX_PROVEEDORES] ON [dbo].[clientes]
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [IDX_PROVEEDORES_NIT]    Script Date: 06/06/2023 22:29:20 ******/
CREATE NONCLUSTERED INDEX [IDX_PROVEEDORES_NIT] ON [dbo].[clientes]
(
	[NIT] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
/****** Object:  Index [IDX_DET_FACTURA]    Script Date: 06/06/2023 22:29:20 ******/
CREATE NONCLUSTERED INDEX [IDX_DET_FACTURA] ON [dbo].[detalle_factura]
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
/****** Object:  Index [IDX_DET_FACTURA_ENC_FAC]    Script Date: 06/06/2023 22:29:20 ******/
CREATE NONCLUSTERED INDEX [IDX_DET_FACTURA_ENC_FAC] ON [dbo].[detalle_factura]
(
	[id_encabezado_factura] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
/****** Object:  Index [IDX_DEVOLUCIONES_FECHA]    Script Date: 06/06/2023 22:29:20 ******/
CREATE NONCLUSTERED INDEX [IDX_DEVOLUCIONES_FECHA] ON [dbo].[devoluciones]
(
	[fecha] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
/****** Object:  Index [IDX_DEVOLUCIONES_ID]    Script Date: 06/06/2023 22:29:20 ******/
CREATE NONCLUSTERED INDEX [IDX_DEVOLUCIONES_ID] ON [dbo].[devoluciones]
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
/****** Object:  Index [IDX_DEVOLUCIONES_ID_PRODUCTO]    Script Date: 06/06/2023 22:29:20 ******/
CREATE NONCLUSTERED INDEX [IDX_DEVOLUCIONES_ID_PRODUCTO] ON [dbo].[devoluciones]
(
	[id_producto] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
/****** Object:  Index [IDX_ENC_FAC_ID]    Script Date: 06/06/2023 22:29:20 ******/
CREATE NONCLUSTERED INDEX [IDX_ENC_FAC_ID] ON [dbo].[encabezado_factura]
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
/****** Object:  Index [IDX_ENC_FAC_ID_CLIENTE]    Script Date: 06/06/2023 22:29:20 ******/
CREATE NONCLUSTERED INDEX [IDX_ENC_FAC_ID_CLIENTE] ON [dbo].[encabezado_factura]
(
	[id_cliente] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
/****** Object:  Index [IDX_PRODUCTO_ID]    Script Date: 06/06/2023 22:29:20 ******/
CREATE NONCLUSTERED INDEX [IDX_PRODUCTO_ID] ON [dbo].[productos]
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
/****** Object:  Index [IDX_PROMOCIONES]    Script Date: 06/06/2023 22:29:20 ******/
CREATE NONCLUSTERED INDEX [IDX_PROMOCIONES] ON [dbo].[promociones]
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
/****** Object:  Index [IDX_REGISTRO_CAJA_ID]    Script Date: 06/06/2023 22:29:20 ******/
CREATE NONCLUSTERED INDEX [IDX_REGISTRO_CAJA_ID] ON [dbo].[Registro_de_caja]
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
/****** Object:  Index [IDX_REGISTRO_CAJA_ID_CAJA]    Script Date: 06/06/2023 22:29:20 ******/
CREATE NONCLUSTERED INDEX [IDX_REGISTRO_CAJA_ID_CAJA] ON [dbo].[Registro_de_caja]
(
	[id_caja] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [IDX_REGISTRO_CAJA_ID_USUARIO]    Script Date: 06/06/2023 22:29:20 ******/
CREATE NONCLUSTERED INDEX [IDX_REGISTRO_CAJA_ID_USUARIO] ON [dbo].[Registro_de_caja]
(
	[id_usuario] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
/****** Object:  Index [IDX_TIPO_PAGO]    Script Date: 06/06/2023 22:29:20 ******/
CREATE NONCLUSTERED INDEX [IDX_TIPO_PAGO] ON [dbo].[tipo_pago]
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [IDX_usuarios]    Script Date: 06/06/2023 22:29:20 ******/
CREATE NONCLUSTERED INDEX [IDX_usuarios] ON [dbo].[usuarios]
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [IDX_usuarios_correo]    Script Date: 06/06/2023 22:29:20 ******/
CREATE NONCLUSTERED INDEX [IDX_usuarios_correo] ON [dbo].[usuarios]
(
	[correo] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
ALTER TABLE [dbo].[despacho] ADD  CONSTRAINT [DF_despacho_fecha_despacho]  DEFAULT (getdate()) FOR [fecha_despacho]
GO
ALTER TABLE [dbo].[detalle_factura] ADD  CONSTRAINT [DF_detalle_factura_descuento]  DEFAULT ((0)) FOR [descuento]
GO
ALTER TABLE [dbo].[devoluciones] ADD  DEFAULT (getdate()) FOR [fecha]
GO
ALTER TABLE [dbo].[precios_producto] ADD  DEFAULT ((0)) FOR [descuento_producto]
GO
ALTER TABLE [dbo].[despacho]  WITH CHECK ADD  CONSTRAINT [FK_despacho_encabezado_factura] FOREIGN KEY([id_encabezado_factura])
REFERENCES [dbo].[encabezado_factura] ([id])
GO
ALTER TABLE [dbo].[despacho] CHECK CONSTRAINT [FK_despacho_encabezado_factura]
GO
ALTER TABLE [dbo].[detalle_factura]  WITH CHECK ADD  CONSTRAINT [fk_detalle_factura_productos] FOREIGN KEY([id_producto])
REFERENCES [dbo].[productos] ([id])
GO
ALTER TABLE [dbo].[detalle_factura] CHECK CONSTRAINT [fk_detalle_factura_productos]
GO
ALTER TABLE [dbo].[detalle_factura]  WITH CHECK ADD  CONSTRAINT [fk_encabezado_factura_productos] FOREIGN KEY([id_encabezado_factura])
REFERENCES [dbo].[encabezado_factura] ([id])
GO
ALTER TABLE [dbo].[detalle_factura] CHECK CONSTRAINT [fk_encabezado_factura_productos]
GO
ALTER TABLE [dbo].[devoluciones]  WITH CHECK ADD  CONSTRAINT [fk_devoluciones_tipo_productos] FOREIGN KEY([id_producto])
REFERENCES [dbo].[productos] ([id])
GO
ALTER TABLE [dbo].[devoluciones] CHECK CONSTRAINT [fk_devoluciones_tipo_productos]
GO
ALTER TABLE [dbo].[encabezado_factura]  WITH CHECK ADD  CONSTRAINT [fk_encabezado_factura_clientes] FOREIGN KEY([id_cliente])
REFERENCES [dbo].[clientes] ([id])
GO
ALTER TABLE [dbo].[encabezado_factura] CHECK CONSTRAINT [fk_encabezado_factura_clientes]
GO
ALTER TABLE [dbo].[encabezado_factura]  WITH CHECK ADD  CONSTRAINT [fk_encabezado_factura_tipo_pago] FOREIGN KEY([id_tipo_pago])
REFERENCES [dbo].[tipo_pago] ([id])
GO
ALTER TABLE [dbo].[encabezado_factura] CHECK CONSTRAINT [fk_encabezado_factura_tipo_pago]
GO
ALTER TABLE [dbo].[precios_producto]  WITH CHECK ADD  CONSTRAINT [FK__precios_p__id_pr__5AEE82B9] FOREIGN KEY([id_producto])
REFERENCES [dbo].[productos] ([id])
GO
ALTER TABLE [dbo].[precios_producto] CHECK CONSTRAINT [FK__precios_p__id_pr__5AEE82B9]
GO
ALTER TABLE [dbo].[productos]  WITH CHECK ADD  CONSTRAINT [FK__productos__id_pr__5BE2A6F2] FOREIGN KEY([id_proveedor])
REFERENCES [dbo].[proveedores] ([id])
GO
ALTER TABLE [dbo].[productos] CHECK CONSTRAINT [FK__productos__id_pr__5BE2A6F2]
GO
ALTER TABLE [dbo].[productos]  WITH CHECK ADD  CONSTRAINT [FK__productos__id_pr__5DCAEF64] FOREIGN KEY([id_promocion])
REFERENCES [dbo].[promociones] ([id])
GO
ALTER TABLE [dbo].[productos] CHECK CONSTRAINT [FK__productos__id_pr__5DCAEF64]
GO
ALTER TABLE [dbo].[productos]  WITH CHECK ADD  CONSTRAINT [fk_proveedores_categoria_productos] FOREIGN KEY([id_categoria])
REFERENCES [dbo].[categoria_productos] ([id])
GO
ALTER TABLE [dbo].[productos] CHECK CONSTRAINT [fk_proveedores_categoria_productos]
GO
ALTER TABLE [dbo].[Registro_de_caja]  WITH CHECK ADD  CONSTRAINT [fk_id_usuario] FOREIGN KEY([id_usuario])
REFERENCES [dbo].[usuarios] ([id])
GO
ALTER TABLE [dbo].[Registro_de_caja] CHECK CONSTRAINT [fk_id_usuario]
GO
ALTER TABLE [dbo].[Registro_de_caja]  WITH CHECK ADD  CONSTRAINT [fk_registroCaja_caja] FOREIGN KEY([id_caja])
REFERENCES [dbo].[caja] ([id])
GO
ALTER TABLE [dbo].[Registro_de_caja] CHECK CONSTRAINT [fk_registroCaja_caja]
GO
/****** Object:  StoredProcedure [dbo].[SP_CREAR_USUARIO]    Script Date: 06/06/2023 22:29:20 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[SP_CREAR_USUARIO]

	@NombreUsuario varchar(100),
	@Contrasennia varchar(MAX),
	@Correo varchar(150)

AS
BEGIN
	SET NOCOUNT ON;
	INSERT INTO usuarios (nombre_usuario, contrasennia, correo)
	VALUES
	(@NombreUsuario, @Contrasennia, @Correo) 
	SELECT SCOPE_IDENTITY();
END;
GO
/****** Object:  StoredProcedure [dbo].[SP_CRUD_CAJA]    Script Date: 06/06/2023 22:29:20 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[SP_CRUD_CAJA]
	@IdCaja int,
	@NumeroCaja int,
	@MontoUltimoCierre decimal,
	@Estado varchar(50),
	@Operacion varchar(50)
AS

BEGIN

	IF @Operacion ='select' 
	BEGIN
	SET NOCOUNT ON;
	SELECT * FROM caja WHERE id = @IdCaja;
	END

	IF @Operacion ='todo' 
	BEGIN
	SET NOCOUNT ON;
	SELECT * FROM caja
	END

	ELSE IF @Operacion ='update' 
	BEGIN
	SET NOCOUNT ON;
	UPDATE TOP(1) caja SET numero_caja=@NumeroCaja, monto_ultimo_cierre=@MontoUltimoCierre, estado=@Estado
	WHERE id = @IdCaja; 
	END

END;
GO
/****** Object:  StoredProcedure [dbo].[SP_CRUD_CATEGORIA_PRODUCTOS]    Script Date: 06/06/2023 22:29:20 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[SP_CRUD_CATEGORIA_PRODUCTOS]
	@IdCategoriaProducto int,
	@NombreCategoria varchar(100),
	@Operacion varchar(50)

AS

BEGIN
	IF @Operacion = 'insert'
	BEGIN
	SET NOCOUNT ON;
	INSERT INTO categoria_productos (nombre)
	VALUES (@NombreCategoria)
	END

	IF @Operacion = 'select'
	BEGIN
	SET NOCOUNT ON;
	SELECT * FROM categoria_productos WHERE id=@IdCategoriaProducto;
	END

	ELSE IF @Operacion ='delete' 
	BEGIN
	SET NOCOUNT ON;
	DELETE TOP(1) FROM categoria_productos WHERE id = @IdCategoriaProducto;
	END

	ELSE IF @Operacion ='update' 
	BEGIN
	SET NOCOUNT ON;
	UPDATE TOP(1) categoria_productos SET nombre=@NombreCategoria
	WHERE id = @IdCategoriaProducto; 
	END

	IF @Operacion = 'todo'
	BEGIN
	SET NOCOUNT ON;
	SELECT * FROM categoria_productos;
	END

END;
GO
/****** Object:  StoredProcedure [dbo].[SP_CRUD_CLIENTES]    Script Date: 06/06/2023 22:29:20 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[SP_CRUD_CLIENTES]
	@NombreCliente varchar(150),
	@DireccionCliente varchar(MAX),
	@TelefonoCliente int,
	@CorreoCliente varchar(150),
	@NIT varchar(20),
	@IdCliente int,
	@Operacion varchar(50)
AS

BEGIN
	IF @Operacion ='select' 
	BEGIN
	SET NOCOUNT ON;
	SELECT * FROM clientes WHERE id = @IdCliente;
	END

    ELSE IF @Operacion = 'insert'
    BEGIN
            INSERT INTO clientes(nombre, direccion, telefono, correo, NIT) 
            VALUES (@NombreCliente, @DireccionCliente, @TelefonoCliente, @CorreoCliente, @NIT);
            SELECT SCOPE_IDENTITY()
    END
    ELSE IF @Operacion ='delete'
    BEGIN

            DELETE TOP(1) FROM clientes WHERE id = @IdCliente;
    END
    ELSE IF @Operacion ='update'
    BEGIN
            UPDATE TOP(1) clientes SET nombre=@NombreCliente, direccion=@DireccionCliente, 
            telefono=@TelefonoCliente, correo=@CorreoCliente, NIT=@NIT
            WHERE id = @IdCliente;
    END

	ELSE IF @Operacion ='todo' 
	BEGIN
	SET NOCOUNT ON;
	SELECT * FROM clientes;
	END

	ELSE IF @Operacion ='selectPorNit' 
	BEGIN
	SET NOCOUNT ON;
	SELECT * FROM clientes WHERE NIT = @NIT
	AND id!=@IdCliente;
	END
END;
GO
/****** Object:  StoredProcedure [dbo].[SP_CRUD_DESPACHOS]    Script Date: 06/06/2023 22:29:20 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[SP_CRUD_DESPACHOS]
	@IdDespacho int,
	@IdEncabezadoFactura int,
	@FechaDespacho datetime,
	@Estado varchar(50),
	@Operacion varchar (50)


AS
BEGIN
	IF @Operacion = 'insert' 
	BEGIN
	SET NOCOUNT ON;
	INSERT INTO despacho ( id_encabezado_factura, fecha_despacho, estado)
	VALUES (@IdEncabezadoFactura, @FechaDespacho, @Estado)
	END

	ELSE IF @Operacion ='delete' 
	BEGIN
	SET NOCOUNT ON;
	DELETE TOP(1) FROM despacho WHERE id= @IdDespacho;
	END

	ELSE IF @Operacion ='todo' 
	BEGIN
	SET NOCOUNT ON;
	SELECT * FROM despacho;
	END

END;
GO
/****** Object:  StoredProcedure [dbo].[SP_CRUD_DEVOLUCIONES]    Script Date: 06/06/2023 22:29:20 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[SP_CRUD_DEVOLUCIONES]
	@IdDevolucion int,
	@Cantidad int,
	@Motivo varchar (MAX),
	@IdProducto int,
	@Fecha date,
	@TipoDevolucion varchar(50),
	@Operacion VARCHAR(50)

AS

BEGIN
DECLARE 
@existenciaAnteriorProducto int,
@IdNuevaDevolucion int
	IF @Operacion = 'insert'
	BEGIN TRY
    BEGIN TRANSACTION;
		SET NOCOUNT ON;

		-- obtener existencia antes de la operacion
		SELECT @existenciaAnteriorProducto = ISNULL(existencia,0) FROM productos WHERE id = @IdProducto 


		INSERT INTO devoluciones (cantidad, motivo, id_producto, fecha, tipo_devolucion)
		VALUES (@Cantidad, @Motivo, @IdProducto, @Fecha, @TipoDevolucion)
		SELECT @IdNuevaDevolucion = SCOPE_IDENTITY();
		-- ACTUALIZAR EXISTENCIA DE PRODUCTOS
		UPDATE TOP(1) productos
		SET existencia=@existenciaAnteriorProducto+@Cantidad
		WHERE id=@IdProducto

		-- Realizar commit
        COMMIT;
		SELECT @IdNuevaDevolucion;
    END TRY
    BEGIN CATCH
        IF @@TRANCOUNT > 0
	-- Realizar Rollback si algo falla
            ROLLBACK;
        -- mostrar el mensaje de error
        SELECT ERROR_MESSAGE() AS ErrorMessage;
    END CATCH;

	ELSE IF @Operacion ='select' 
	BEGIN
	SET NOCOUNT ON;
	SELECT * FROM devoluciones WHERE id = @IdDevolucion;
	END;

	ELSE IF @Operacion ='delete' 
    BEGIN TRY
        BEGIN TRANSACTION;
	SET NOCOUNT ON;
	-- ACTUALIZAR EXISTENCIA DE PRODUCTOS
	IF EXISTS (SELECT 1 FROM devoluciones WHERE id = @IdDevolucion)
	BEGIN
	SELECT @IdProducto = id_producto FROM devoluciones WHERE id = @IdDevolucion;
		-- obtener existencia antes de la operacion
		SELECT @existenciaAnteriorProducto = ISNULL(existencia,0) FROM productos WHERE id = @IdProducto 
		-- Cantidad del registro de devolución
		SELECT @Cantidad = cantidad FROM devoluciones WHERE id = @IdDevolucion
		-- Eliminar devolución
		DELETE TOP(1) FROM devoluciones WHERE id = @IdDevolucion;
		-- ACTUALIZAR EXISTENCIA DE PRODUCTOS
		UPDATE TOP(1) productos
		SET existencia=@existenciaAnteriorProducto-@Cantidad
		WHERE id=@IdProducto
	END
	-- Realizar commit
        COMMIT;
    END TRY
    BEGIN CATCH
        IF @@TRANCOUNT > 0
	-- Realizar Rollback si algo falla
            ROLLBACK;
        -- mostrar el mensaje de error
        SELECT ERROR_MESSAGE() AS ErrorMessage;
    END CATCH;

	ELSE IF @Operacion ='update' 
	BEGIN
	SET NOCOUNT ON;
	UPDATE TOP(1) devoluciones SET cantidad=@Cantidad, motivo=@Motivo, fecha=@Fecha, tipo_devolucion=@TipoDevolucion
	WHERE id = @IdDevolucion;
	END;

	ELSE IF @Operacion ='todo' 
	BEGIN
	SET NOCOUNT ON;
	SELECT devoluciones.*, productos.detalle AS NombreProducto 
	FROM devoluciones
	INNER JOIN productos
	ON devoluciones.id_producto=productos.id
	;
	END

END;
GO
/****** Object:  StoredProcedure [dbo].[SP_CRUD_FACTURA]    Script Date: 06/06/2023 22:29:20 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[SP_CRUD_FACTURA]
	@IdEncabezado int,
	@Serie varchar(150),
	@Fecha datetime,
	@IdTipoPago int,
	@IdCliente int,
	@Operacion VARCHAR(50)

AS

BEGIN
	IF @Operacion = 'insert' 
	BEGIN
	SET NOCOUNT ON;
	INSERT INTO encabezado_factura (serie, fecha, id_tipo_pago, id_cliente)
	VALUES
	(@Serie, @Fecha, @IdTipoPago, @IdCliente) 
	SELECT SCOPE_IDENTITY();
	END

	ELSE IF @Operacion ='select' 
	BEGIN
	SET NOCOUNT ON;
	SELECT EF.id, EF.serie, EF.fecha, CL.direccion, 
	CL.NIT,
	CL.nombre, '' AS QrImagen, 
	(SELECT SUM(subtotal) FROM detalle_factura WHERE id_encabezado_factura=ef.id) AS TotalFactura
	FROM encabezado_factura AS EF
	INNER JOIN clientes AS CL 
	ON EF.id_cliente=CL.id
	WHERE EF.id = @IdEncabezado;
	END

	ELSE IF @Operacion ='delete' 
	BEGIN
	SET NOCOUNT ON;
	DELETE TOP(1) FROM encabezado_factura WHERE id = @IdEncabezado;
	END

	ELSE IF @Operacion ='update' 
	BEGIN
	SET NOCOUNT ON;
	UPDATE TOP(1) encabezado_factura SET serie=@Serie, fecha=@Fecha, id_tipo_pago=@IdTipoPago, id_cliente=@IdCliente
	WHERE id = @IdEncabezado; 
	END

	
	ELSE IF @Operacion ='todo' 
	BEGIN
	SET NOCOUNT ON;
	SELECT * FROM encabezado_factura;
	END
	   
END;
GO
/****** Object:  StoredProcedure [dbo].[SP_CRUD_PRECIOS]    Script Date: 06/06/2023 22:29:20 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[SP_CRUD_PRECIOS]
	@IdProducto int,
	@PrecioUnidad decimal(16,2),	
	@DescuentoProducto decimal(16,2),
	@FechaModificacionPrecio datetime,
	@Operacion varchar (50)
AS

BEGIN
	IF @Operacion = 'insert' 
	BEGIN
	SET NOCOUNT ON;
	INSERT INTO precios_producto(precio_unidad, descuento_producto, fecha_modificacion_precio) 
	VALUES (@PrecioUnidad, @DescuentoProducto, @FechaModificacionPrecio)
	END

	ELSE IF @Operacion ='select' 
	BEGIN
	SET NOCOUNT ON;
	SELECT * FROM precios_producto WHERE id_producto = @IdProducto;
	END

	ELSE IF @Operacion ='delete' 
	BEGIN
	SET NOCOUNT ON;
	DELETE TOP(1) FROM precios_producto WHERE id_producto = @IdProducto;
	END

	ELSE IF @Operacion ='update' 
	BEGIN
	SET NOCOUNT ON;
	UPDATE TOP(1) precios_producto SET precio_unidad=@PrecioUnidad, descuento_producto=@DescuentoProducto, 
	fecha_modificacion_precio=@FechaModificacionPrecio
	WHERE id_producto = @IdProducto; 
	END

	ELSE IF @Operacion ='todo' 
	BEGIN
	SET NOCOUNT ON;
	SELECT * FROM precios_producto;
	END
END;
GO
/****** Object:  StoredProcedure [dbo].[SP_CRUD_PRODUCTOS]    Script Date: 06/06/2023 22:29:20 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE PROCEDURE [dbo].[SP_CRUD_PRODUCTOS]
	@DetalleProducto varchar(MAX),
	@Existencia int,
	@IdCategoria int,
	@IdProveedor int,
	@IdPromocion int,
	@IdProducto int,
	@PrecioUnidad decimal(16,2),
	@Operacion VARCHAR(50)
AS
BEGIN
	DECLARE 
	@IdProductoNuevo int,
	@PrecioAnterior decimal(16,2)

	IF @Operacion = 'insert' 
	BEGIN
		BEGIN TRY
			BEGIN TRANSACTION;

			SET NOCOUNT ON;
			
			-- Insertar el nuevo registro de producto.
			INSERT INTO productos (detalle, existencia, id_categoria, id_proveedor, id_promocion) 
			VALUES (@DetalleProducto, @Existencia, @IdCategoria, @IdProveedor, @IdPromocion)
			
			-- Recuperar el ID del nuevo registro de producto.
			SELECT @IdProductoNuevo = SCOPE_IDENTITY()
			
			-- Evaluar si se obtuvo el nuevo ID.
			IF (@IdProductoNuevo IS NOT NULL AND @IdProductoNuevo > 0)
			BEGIN
				-- Insertar el precio del producto.
				INSERT INTO precios_producto (id_producto, precio_unidad, descuento_producto,fecha_modificacion_precio)
				VALUES (@IdProductoNuevo, @PrecioUnidad, 0,GETDATE())
			END

			-- Realizar commit
			COMMIT;

			-- Devolver el ID del nuevo producto creado.
			SELECT @IdProductoNuevo AS NuevoIdProducto;
		END TRY
		BEGIN CATCH
			IF @@TRANCOUNT > 0
				-- Realizar Rollback si algo falla.
				ROLLBACK;
			
			-- Mostrar el mensaje de error.
			SELECT ERROR_MESSAGE() AS ErrorMessage;
		END CATCH;
	END

	ELSE IF @Operacion ='select' 
		BEGIN
		SET NOCOUNT ON;
		SELECT p.*,p.id_categoria,pr.precio_unidad AS PrecioUnidadString
		FROM productos p
		INNER JOIN precios_producto pr
		ON pr.id_producto=p.id
		WHERE p.id = @IdProducto;
	END

	ELSE IF @Operacion ='delete' 
	BEGIN
		BEGIN TRY
		BEGIN TRANSACTION;
			SET NOCOUNT ON;
			DELETE TOP(1) FROM precios_producto
			WHERE id_producto=@IdProducto

			DELETE TOP(1) FROM productos 
			WHERE id = @IdProducto;

		-- Realizar commit
		COMMIT;
		END TRY
		BEGIN CATCH
			IF @@TRANCOUNT > 0
				-- Realizar Rollback si algo falla.
				ROLLBACK;
			
			-- Mostrar el mensaje de error.
			SELECT ERROR_MESSAGE() AS ErrorMessage;
		END CATCH;
	END

	ELSE IF @Operacion ='update' 
	BEGIN
		BEGIN TRY
		BEGIN TRANSACTION;
			SET NOCOUNT ON;
			-- Obtener el precio por unidad, para ser o no actualizado mas adelante.
			SELECT @PrecioAnterior = precio_unidad FROM precios_producto WHERE id_producto=@IdProducto
			-- Actualizar propiedades del producto.
			UPDATE TOP(1) productos SET 
			detalle=@DetalleProducto, existencia=@Existencia, 
			id_categoria=@IdCategoria, id_proveedor=@IdProveedor,  
			id_promocion=@IdPromocion
			WHERE id = @IdProducto; 
				-- Evaluar si se cambio el precio.
			IF (@PrecioUnidad!=@PrecioAnterior)
			BEGIN
				-- Actualizar precio de unidad de producto
				UPDATE TOP(1) precios_producto
				SET precio_unidad=@PrecioUnidad
				WHERE id_producto=@IdProducto
			END
			-- Realizar commit
			COMMIT;
		END TRY
		BEGIN CATCH
			IF @@TRANCOUNT > 0
				-- Realizar Rollback si algo falla.
				ROLLBACK;
			
			-- Mostrar el mensaje de error.
			SELECT ERROR_MESSAGE() AS ErrorMessage;
		END CATCH;
	END

	ELSE IF @Operacion ='selectPorNombre' 
		BEGIN
		SET NOCOUNT ON;
		SELECT * FROM productos WHERE detalle = @DetalleProducto
		AND id!=@IdProducto;
	END

	ELSE IF @Operacion ='todo' 
	BEGIN
		SET NOCOUNT ON;
		SELECT p.*, ca.nombre AS NombreCategoria,
		prov.nombre AS NombreProveedor, pr.precio_unidad AS PrecioUnidad,
		ISNULL(promo.id,0) AS IdPromocion,
		ISNULL(promo.descripcion,'Sin promoción') AS promocion,
		ISNULL(pr.descuento_producto,0) AS Descuento
		FROM productos p
		INNER JOIN proveedores prov
		ON p.id_proveedor = prov.id
		INNER JOIN categoria_productos ca
		ON p.id_categoria=ca.id
		INNER JOIN precios_producto pr
		ON pr.id_producto=p.id
		LEFT JOIN promociones promo
		ON p.id_promocion=promo.id
	END
END
GO
/****** Object:  StoredProcedure [dbo].[SP_CRUD_PROVEEDORES]    Script Date: 06/06/2023 22:29:20 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[SP_CRUD_PROVEEDORES]
	@NombreProveedor varchar(150),
	@DireccionProveedor varchar(MAX),
	@TelefonoProveedor int,
	@CorreoProveedor varchar(150),
	@NITProveedor varchar(20),
	@IdProveedor int,
	@Operacion varchar(50)

AS

BEGIN
	IF @Operacion = 'insert' 
	BEGIN
	SET NOCOUNT ON;
	INSERT INTO proveedores (nombre, direccion, telefono, correo, NIT) 
	VALUES (@NombreProveedor, @DireccionProveedor, @TelefonoProveedor, @CorreoProveedor, @NITProveedor)
	SELECT SCOPE_IDENTITY()
	END

	ELSE IF @Operacion ='select' 
	BEGIN
	SET NOCOUNT ON;
	SELECT * FROM proveedores WHERE id = @IdProveedor;
	END

	ELSE IF @Operacion ='delete' 
	BEGIN
	SET NOCOUNT ON;
	DELETE TOP(1) FROM proveedores WHERE id = @IdProveedor;
	END

	ELSE IF @Operacion ='update' 
	BEGIN
	SET NOCOUNT ON;
	UPDATE TOP(1) proveedores SET nombre=@NombreProveedor, 
	direccion=@DireccionProveedor, telefono=@TelefonoProveedor, 
	correo=@CorreoProveedor, NIT=@NITProveedor
	WHERE id = @IdProveedor;
	END

	ELSE IF @Operacion ='todo' 
	BEGIN
	SET NOCOUNT ON;
	SELECT * FROM proveedores;
	END

	ELSE IF @Operacion ='selectPorNit' 
	BEGIN
	SET NOCOUNT ON;
	SELECT * FROM proveedores WHERE NIT = @NITProveedor
	AND id!=@IdProveedor;
	END

END;
GO
/****** Object:  StoredProcedure [dbo].[SP_DETALLE_FACTURA]    Script Date: 06/06/2023 22:29:20 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[SP_DETALLE_FACTURA]
	@IdDetalleFactura int,
	@Subtotal decimal(16,2),
	@Cantidad int,
	@IdProducto int,
	@IdEncabezadoFactura int,
	@DescuentoTotal decimal(16,2),
	@Operacion varchar(50)

AS

BEGIN 
DECLARE
@descuento decimal(16,2), 
@cantidad_anterior_producto_en_factura int,
@precioUnidad decimal(16,2),
@existenciaAnteriorProducto int

	IF @Operacion = 'insert' 
    BEGIN TRY
        BEGIN TRANSACTION;
	SET NOCOUNT ON;
	-- obtener existencia antes de la operacion
	SELECT @existenciaAnteriorProducto = ISNULL(existencia,0) FROM productos WHERE id = @IdProducto 
	-- Validar que cantidad no supere la existencia
	IF(@existenciaAnteriorProducto<@Cantidad)
	BEGIN
		-- mostrar el mensaje de error
        SELECT 'Existencia insuficiente' AS ErrorMessage;
		COMMIT;
		RETURN;
	END
	ELSE
	BEGIN
		-- CALCULAR DESCUENTOS SEGUN PROMOCIONES
	SELECT @cantidad_anterior_producto_en_factura = ISNULL(SUM(cantidad),0) -- Obtener la sumatoria del mismo producto en la factura actual 
													FROM detalle_factura 
													WHERE id_encabezado_factura = @IdEncabezadoFactura
													AND id_producto = @IdProducto
	-- Obtener el precio por unidad del producto para el detalle
	SELECT @precioUnidad = precio_unidad FROM precios_producto
						   WHERE id_producto=@IdProducto
	-- Obtener el descuento, según las promociones validas.
	SELECT @descuento =  
	CASE 
	WHEN P.id_promocion = 1 THEN (@Cantidad * ISNULL(PP.descuento_producto,0)) -- Cuando la promoción es 1, descuento por cada producto 
	WHEN P.id_promocion = 3 AND @cantidad_anterior_producto_en_factura <2 AND (@cantidad_anterior_producto_en_factura+
								@Cantidad)>=2				-- Cuando la promoción es 3, se hace descuento de la segunda unidad   
							THEN (pp.precio_unidad/2)   -- a mitad de precio, solo aplica una promoción por factura
	WHEN P.id_promocion = 4 AND @cantidad_anterior_producto_en_factura <4 
							AND (@cantidad_anterior_producto_en_factura+	-- Cuando la promoción es 4, se hace descuento total
								 @Cantidad)>=4								-- del cuarto artículo, solo aplica una oferta por factura
							THEN (pp.precio_unidad)
	ELSE 0 -- Valor por defecto cuando no se cumple ninguna de las condiciones anteriores
	END 
	FROM productos p
	INNER JOIN precios_producto  pp
	ON p.id =pp.id_producto
	LEFT JOIN promociones pro 
	ON p.id_promocion =pro.id
	WHERE P.id= @IdProducto

	-- SETEAR SUBTOTAL
	SET @Subtotal = (@Cantidad*@precioUnidad)-@descuento
	-- REALIZAR INSERT DE DETALLE_FACTURA
	INSERT INTO detalle_factura(subtotal,descuento, cantidad, id_producto, id_encabezado_factura) 
	VALUES (@Subtotal, @DescuentoTotal, @Cantidad, @IdProducto, @IdEncabezadoFactura)

	-- ACTUALIZAR EXISTENCIA DE PRODUCTOS
	UPDATE TOP(1) productos
	SET existencia=@existenciaAnteriorProducto-@Cantidad
	WHERE id=@IdProducto

	-- Realizar commit
        COMMIT;
	END
    END TRY
    BEGIN CATCH
        IF @@TRANCOUNT > 0
	-- Realizar Rollback si algo falla
            ROLLBACK;
        -- mostrar el mensaje de error
        SELECT ERROR_MESSAGE() AS ErrorMessage;
    END CATCH;

	ELSE IF @Operacion ='delete' 
    BEGIN TRY
        BEGIN TRANSACTION;
	SET NOCOUNT ON;
	-- ACTUALIZAR EXISTENCIA DE PRODUCTOS
	IF EXISTS (SELECT 1 FROM detalle_factura WHERE id = @IdDetalleFactura)
	BEGIN
		-- obtener existencia antes de la operacion
		SELECT @existenciaAnteriorProducto = existencia FROM productos WHERE id = @IdProducto 

		SELECT @Cantidad = ISNULL(cantidad,0) FROM detalle_factura WHERE id = @IdDetalleFactura
		DELETE TOP(1) FROM detalle_factura WHERE id = @IdDetalleFactura;
		UPDATE TOP(1) productos
		SET existencia=@existenciaAnteriorProducto+@Cantidad
		WHERE id=@IdProducto
	END
	-- Realizar commit
        COMMIT;
    END TRY
    BEGIN CATCH
        IF @@TRANCOUNT > 0
	-- Realizar Rollback si algo falla
            ROLLBACK;
        -- mostrar el mensaje de error
        SELECT ERROR_MESSAGE() AS ErrorMessage;
    END CATCH;

	ELSE IF @Operacion ='todo' 
	BEGIN
	SET NOCOUNT ON;


	SELECT productos.detalle, detalle_factura.cantidad, precios_producto.precio_unidad, detalle_factura.descuento, detalle_factura.subtotal
	FROM detalle_factura
	INNER JOIN productos ON detalle_factura.id_producto=productos.id
	INNER JOIN precios_producto ON productos.id=precios_producto.id_producto
	WHERE id_encabezado_factura=@IdEncabezadoFactura;
	END
END;
GO
/****** Object:  StoredProcedure [dbo].[SP_OBTENER_USUARIO]    Script Date: 06/06/2023 22:29:20 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
--obtener usuario traer todos los datos del usuario por medio de su correo
CREATE PROCEDURE [dbo].[SP_OBTENER_USUARIO]

	@NombreUsuario varchar(100),
	@Contrasennia varchar(MAX),
	@Correo varchar(150)

AS

BEGIN
	SET NOCOUNT ON;
	SELECT * FROM usuarios WHERE correo = @Correo;
END;
GO
/****** Object:  StoredProcedure [dbo].[SP_PROMOCIONES_FACTURA]    Script Date: 06/06/2023 22:29:20 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- =============================================
-- Author:		<Author,,Name>
-- Create date: <Create Date,,>
-- Description:	<Description,,>
-- =============================================
CREATE PROCEDURE [dbo].[SP_PROMOCIONES_FACTURA]
@IdFactura int
AS
BEGIN

	SELECT det.*, promo.descripcion, pro.detalle
	FROM detalle_factura det 
	INNER JOIN encabezado_factura enc
	ON det.id_encabezado_factura=enc.id
	INNER JOIN productos PRO
	ON det.id_producto=pro.id
	INNER JOIN promociones promo
	ON promo.id=pro.id_promocion
	WHERE enc.id=12


	SELECT * FROM detalle_factura
	WHERE id_encabezado_factura=@IdFactura
END
GO
/****** Object:  StoredProcedure [dbo].[SP_REGISTRO_CAJA]    Script Date: 06/06/2023 22:29:20 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[SP_REGISTRO_CAJA]

	@IdCaja int,
	@FechaRegistroCaja datetime,
	@Turno int,
	@IdUsuario int,
	@TipoRegistro varchar(20),
	@Monto decimal(16,2),
	@Operacion varchar(50)

AS
BEGIN
	IF @Operacion = 'insert'
    BEGIN TRY
        BEGIN TRANSACTION;
		SET NOCOUNT ON;
	
		-- CIERRE DE CAJA
		DECLARE
		@UltimoCorte datetime,
		@MontoVendido decimal(16,2),
		@IdNuevoRegistro int

	-- OBTENER FECHA Y HORA DE ULTIMO CIERRE
		SELECT TOP 1 @UltimoCorte = fecha
		FROM Registro_de_caja
		ORDER BY FECHA DESC;
--SELECT @UltimoCorte


-- OBTENER LA SUMA VENDIDA DESDE EL ULTIMO CIERRE
	SELECT @MontoVendido=
	ISNULL(SUM(detalle_factura.subtotal),0) 
	FROM 
	detalle_factura
	INNER JOIN encabezado_factura
	ON encabezado_factura.id=detalle_factura.id_encabezado_factura
	WHERE encabezado_factura.fecha>@UltimoCorte

--SELECT @MontoVendido
		IF(@MontoVendido>0)
		BEGIN
			INSERT INTO Registro_de_caja (fecha, turno, id_caja, id_usuario, tipo_registro, monto) 
			VALUES (@FechaRegistroCaja, @Turno, @IdCaja, @IdUsuario, @TipoRegistro, @MontoVendido);
			SELECT @IdNuevoRegistro = SCOPE_IDENTITY();

			UPDATE caja
			SET monto_ultimo_cierre=monto_ultimo_cierre+@MontoVendido
		END
		ELSE
		BEGIN
			SET @IdNuevoRegistro=1;
		END
		-- Realizar commit
        COMMIT;
		SELECT @IdNuevoRegistro;
    END TRY
    BEGIN CATCH
        IF @@TRANCOUNT > 0
	-- Realizar Rollback si algo falla
            ROLLBACK;
        -- mostrar el mensaje de error
        SELECT ERROR_MESSAGE() AS ErrorMessage;
    END CATCH;
	ELSE IF @Operacion ='select' 
		BEGIN
		SET NOCOUNT ON;
		SELECT * FROM Registro_de_caja
		WHERE id_caja=@IdCaja;
	END;
END;
GO
/****** Object:  StoredProcedure [dbo].[SP_REPORTES]    Script Date: 06/06/2023 22:29:20 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[SP_REPORTES]
@Fecha varchar(10),
@Turno int,
@Categoria varchar(100),
@Operacion VARCHAR(50)

AS
BEGIN
	IF @Operacion = 'VentasDiariasPorCategoria' 
	BEGIN
	SET NOCOUNT ON;
	SELECT * FROM Reporte_Diario_Venta_por_Categoria
	WHERE fecha=@Fecha;
	END

	ELSE IF (@Operacion='CorteCajaPorTurno')
	BEGIN
	SET NOCOUNT ON;
	SELECT * FROM ReporteCorteCajaPorTurno
	END

	ELSE IF (@Operacion='VentasPorCategoria')
	BEGIN
	SET NOCOUNT ON;
	SELECT * FROM ReporteVentasPorCategoria
	WHERE Categoria=@Categoria AND Fecha=@Fecha;
	END

	ELSE IF (@Operacion='DevolucionesPorCategoria')
	BEGIN
	SET NOCOUNT ON;
	SELECT * FROM ReporteDevolucionesPorCategoria
	WHERE Categoria=@Categoria AND Fecha=@Fecha;
	END
END
GO
/****** Object:  StoredProcedure [dbo].[SP_TIPO_PAGO]    Script Date: 06/06/2023 22:29:20 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[SP_TIPO_PAGO]
	@IdTipoPago int,
	@Tipo varchar(100),
	@Operacion varchar(50)
AS
BEGIN
	IF @Operacion ='todo' 
	BEGIN
	SET NOCOUNT ON;
	SELECT * FROM tipo_pago;
	END;
END
GO
/****** Object:  StoredProcedure [dbo].[SP_TODAS_PROMOCIONES]    Script Date: 06/06/2023 22:29:20 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[SP_TODAS_PROMOCIONES]
	@IdPromociones int,
	@Descripcion varchar (150),
	@Operacion varchar (50)

AS
BEGIN
	IF @Operacion ='todo' 
	BEGIN
	SET NOCOUNT ON;
	SELECT * FROM promociones;
	END

END;
GO
/****** Object:  Trigger [dbo].[TR_BorrarDevolucion]    Script Date: 06/06/2023 22:29:20 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TRIGGER [dbo].[TR_BorrarDevolucion] 
   ON  [dbo].[devoluciones]
   AFTER DELETE
AS 
BEGIN
	DECLARE
	@IdDevolucion int

	SELECT @IdDevolucion=id FROM DELETED 
	-- SET NOCOUNT ON added to prevent extra result sets from
	-- interfering with SELECT statements.
	SET NOCOUNT ON;
	INSERT INTO auditoria (fecha, hora, tipo_transaccion, descripcion, usuario)
	VALUES 
	(GETDATE(),CONVERT(TIME,GETDATE()), 'DELETE', CONCAT('DEVOLUCION BORRADA NO.',@IdDevolucion),SYSTEM_USER);
    -- Insert statements for trigger here
END
GO
ALTER TABLE [dbo].[devoluciones] ENABLE TRIGGER [TR_BorrarDevolucion]
GO
/****** Object:  Trigger [dbo].[TR_CrearDevolucion]    Script Date: 06/06/2023 22:29:52 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TRIGGER [dbo].[TR_CrearDevolucion] 
   ON  [dbo].[devoluciones]
   AFTER INSERT
AS 
BEGIN
	DECLARE
	@IdDevolucion int

	SELECT @IdDevolucion=id FROM INSERTED 
	-- SET NOCOUNT ON added to prevent extra result sets from
	-- interfering with SELECT statements.
	SET NOCOUNT ON;
	INSERT INTO auditoria (fecha, hora, tipo_transaccion, descripcion, usuario)
	VALUES 
	(GETDATE(),CONVERT(TIME,GETDATE()), 'INSERT', CONCAT('DEVOLUCION CREADA NO.',@IdDevolucion),SYSTEM_USER);
    -- Insert statements for trigger here
END
GO
ALTER TABLE [dbo].[devoluciones] ENABLE TRIGGER [TR_CrearDevolucion]
GO
/****** Object:  Trigger [dbo].[TR_BorrarVenta]    Script Date: 06/06/2023 22:30:22 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TRIGGER [dbo].[TR_BorrarVenta]
	ON  [dbo].[encabezado_factura]
	AFTER DELETE
AS 
BEGIN
	DECLARE
	@IdVenta int

	SELECT
	@IdVenta=id FROM DELETED 
	-- SET NOCOUNT ON added to prevent extra result sets from
	-- interfering with SELECT statements.
	SET NOCOUNT ON;
	INSERT INTO auditoria (fecha, hora, tipo_transaccion, descripcion, usuario)
	VALUES 
	(GETDATE(),CONVERT(TIME,GETDATE()), 'DELETE', CONCAT('VENTA BORRADA NO.',@IdVenta),SYSTEM_USER);
    -- Insert statements for trigger here

END
GO
ALTER TABLE [dbo].[encabezado_factura] ENABLE TRIGGER [TR_BorrarVenta]
GO
/****** Object:  Trigger [dbo].[TR_CrearVenta]    Script Date: 06/06/2023 22:30:53 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TRIGGER [dbo].[TR_CrearVenta]
   ON  [dbo].[encabezado_factura]
   AFTER INSERT
AS 
BEGIN
	DECLARE
	@IdVenta int

	SELECT
	@IdVenta=id FROM INSERTED 
	-- SET NOCOUNT ON added to prevent extra result sets from
	-- interfering with SELECT statements.
	SET NOCOUNT ON;
	INSERT INTO auditoria (fecha, hora, tipo_transaccion, descripcion, usuario)
	VALUES 
	(GETDATE(),CONVERT(TIME,GETDATE()), 'INSERT', CONCAT('VENTA CREADA NO.',@IdVenta),SYSTEM_USER);
    -- Insert statements for trigger here
END
GO
ALTER TABLE [dbo].[encabezado_factura] ENABLE TRIGGER [TR_CrearVenta]
GO
/****** Object:  Trigger [dbo].[ACTUALIZAR_FECHA_PRECIO]    Script Date: 06/06/2023 22:31:23 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- =============================================
-- Author:		<Author,,Name>
-- Create date: <Create Date,,>
-- Description:	<Description,,>
-- =============================================
CREATE TRIGGER [dbo].[ACTUALIZAR_FECHA_PRECIO]
   ON  [dbo].[precios_producto]
   AFTER UPDATE
AS 
BEGIN
DECLARE 
@idProducto int
SELECT @idProducto=inserted.id_producto FROM inserted
	-- SET NOCOUNT ON added to prevent extra result sets from
	-- interfering with SELECT statements.
	SET NOCOUNT ON;
	UPDATE TOP(1)
	precios_producto
	SET fecha_modificacion_precio=GETDATE()
	WHERE id_producto=@idProducto
END
GO
ALTER TABLE [dbo].[precios_producto] ENABLE TRIGGER [ACTUALIZAR_FECHA_PRECIO]
GO
/****** Object:  Trigger [dbo].[TR_CierreDeCaja]    Script Date: 06/06/2023 22:31:53 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TRIGGER [dbo].[TR_CierreDeCaja] 
ON  [dbo].[Registro_de_caja] 
   AFTER INSERT
AS 
BEGIN
	DECLARE
	@IdCierre int

	SELECT @IdCierre=id FROM INSERTED
	-- SET NOCOUNT ON added to prevent extra result sets from
	-- interfering with SELECT statements.
	SET NOCOUNT ON;
	INSERT INTO auditoria (fecha, hora, tipo_transaccion, descripcion, usuario)
	VALUES
	(GETDATE(),CONVERT(TIME,GETDATE()), 'INSERT', CONCAT('CAJA CEDRRADA NO.',@IdCierre),SYSTEM_USER);
    -- Insert statements for trigger here
END
GO
ALTER TABLE [dbo].[Registro_de_caja] ENABLE TRIGGER [TR_CierreDeCaja]
GO
