@model LoginViewModel

@{
    ViewData["Title"] = "Login";
}

<section class="login_box_area section_gap">
    <div class="container">
        <div class="d-flex flex-row">
            <div class="col-lg-6 d-flex align-items-stretch px-0">
                <div class="login_box_img w-100">
                    <img class="img-fluid h-100" src="~/karma/img/login.jpg" alt="">
                </div>
            </div>
            <div class="col-lg-6 d-flex align-items-stretch px-0">
                <div class="login_form_inner w-100">

                    <div class="banner-content mb-4">
                        <h1>Bienvenido a e-shoes!</h1>
                    </div>

                    <h3>Iniciar sesión</h3>
                    <form asp-action="Login"
                          class="row login_form" method="post">
                        @if (ViewData.ModelState.Any(m => m.Value?.Errors.Count > 0))
                        {
                            <div class="alert alert-danger text-start col-md-12" role="alert">
                                <ul>
                                    @foreach (var error in ViewData.ModelState.Values.SelectMany(v => v.Errors))
                                    {
                                        <li>@error.ErrorMessage</li>
                                    }
                                </ul>
                            </div>
                        }
                        <div class="col-md-12 form-group">
                            <input type="text" class="form-control"
                                   asp-for="Email" placeholder="Correo"
                                   onfocus="this.placeholder = ''" onblur="this.placeholder = 'Correo'">
                            <span asp-validation-for="Email" class="text-danger text-start"></span>
                        </div>
                        <div class="col-md-12 form-group">
                            <input type="password" class="form-control"
                                   asp-for="Password" placeholder="Contraseña"
                                   onfocus="this.placeholder = ''" onblur="this.placeholder = 'Contraseña'">
                            <span asp-validation-for="Password" class="text-danger text-start"></span>
                        </div>
                        <div class="col-md-12 form-group">
                            <div class="creat_account">
                                <input type="checkbox" asp-for="Recuerdame">
                                <label for="f-option2">Recuerdame</label>
                            </div>
                        </div>
                        <div class="col-md-12 mt-4 form-group">
                            <button type="submit" value="submit" class="primary-btn">Ingresar</button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</section>
@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}
