 @model CrearUsarioCliente
<head>
    <meta charset="utf-8" />
    <meta name="viewport"
          content="width=device-width, initial-scale=1.0, user-scalable=no, minimum-scale=1.0, maximum-scale=1.0" />

    <title>Register Basic - Pages | Sneat - Bootstrap 5 HTML Admin Template - Pro</title>

    <meta name="description" content="" />

    <!-- Favicon -->
    <link rel="icon" type="image/x-icon" href="~/sneat/img/favicon/favicon.ico" />

    <!-- Fonts -->
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link href="https://fonts.googleapis.com/css2?family=Public+Sans:ital,wght@0,300;0,400;0,500;0,600;0,700;1,300;1,400;1,500;1,600;1,700&display=swap"
          rel="stylesheet" />

    <!-- Icons. Uncomment required icon fonts -->
    <link rel="stylesheet" href="~/sneat/vendor/fonts/boxicons.css" />

    <!-- Core CSS -->
    <link rel="stylesheet" href="~/sneat/vendor/css/core.css" class="template-customizer-core-css" />
    <link rel="stylesheet" href="~/sneat/vendor/css/theme-default.css" class="template-customizer-theme-css" />
    <link rel="stylesheet" href="~/sneat/css/demo.css" />

    <!-- Vendors CSS -->
    <link rel="stylesheet" href="~/sneat/vendor/libs/perfect-scrollbar/perfect-scrollbar.css" />

    <!-- Page CSS -->
    <!-- Page -->
    <link rel="stylesheet" href="~/sneat/vendor/css/pages/page-auth.css" />
    <!-- Helpers -->
    <script src="~/sneat/vendor/js/helpers.js"></script>

    <!--! Template customizer & Theme config files MUST be included after core stylesheets and helpers.js in the <head> section -->
    <!--? Config:  Mandatory theme config file contain global vars & default theme options, Set your preferred theme option in this file.  -->
    <script src="~/sneat/js/config.js"></script>
</head>

<body>
    <!-- Content -->

    <div class="container-xxl">
        <div class="authentication-wrapper authentication-basic container-p-y">
            <div class="authentication-inner">
                <!-- Register Card -->
                <div class="card">
                    <div class="card-body">
                        <!-- Logo -->
                        <div class="app-brand justify-content-center">
                            <a href="index.html" class="app-brand-link gap-2">
                                <span class="app-brand-logo demo">
                                    <img src="~/images/logo.svg" width="150px" height="150px" />
                                </span>
                            </a>
                        </div>
                        <!-- /Logo -->
                        <h4 class="mb-2">Datos Registro del Cliente 🚀</h4>
                        <!-- Mostrar mensajes de error -->
                        @if (ViewData.ModelState.ContainsKey("ErrorValidacion"))
                        {
                            <div class="alert alert-danger">
                                @foreach (var error in ViewData.ModelState["ErrorValidacion"].Errors)
                                {
                                    <p>@error.ErrorMessage</p>
                                }
                            </div>
                        }

                        <form asp-action="Registro"
                              id="formAuthentication" class="mb-3" method="POST">

                            <div class="mb-3">
                                <label for="username" class="form-label">Nombre completo</label>
                                <input type="text" class="form-control" placeholder="Ingrese nombre completo" autofocus asp-for="informacionCliente.Nombre" />
                                <span class="text-danger text-start" asp-validation-for="informacionCliente.Nombre"></span>
                            </div>

                            <div class="mb-3">
                                <label for="username" class="form-label">Usuario</label>
                                <input type="text" class="form-control" placeholder="Ingrese su nombre de usuario" autofocus asp-for="informacionUsuario.Nombre_usuario" />
                                <span class="text-danger text-start" asp-validation-for="informacionUsuario.Nombre_usuario"></span>
                            </div>

                            <div class="mb-3">
                                <label for="username" class="form-label">Direccion</label>
                                <input type="text" class="form-control" placeholder="Ingrese su direccion" autofocus asp-for="informacionCliente.Direccion" />
                                <span class="text-danger text-start" asp-validation-for="informacionCliente.Direccion"></span>
                            </div>

                            <div class="mb-3">
                                <label for="username" class="form-label">Telefono</label>
                                <div class="input-group input-group-merge">
                                    <span class="input-group-text">GT (+502)</span>
                                    <input type="number"
                                           class="form-control"
                                           autofocus asp-for="informacionCliente.Telefono"
                                           placeholder="Ingrese numero telefonico" />
                                </div>
                                <span class="text-danger text-start" asp-validation-for="informacionCliente.Telefono"></span>
                            </div>

                            <div class="mb-3">
                                <label for="username" class="form-label">Nit</label>
                                <input type="text" class="form-control" placeholder="Ingrese su Nit" autofocus asp-for="informacionCliente.Nit" />
                                <span class="text-danger text-start" asp-validation-for="informacionCliente.Nit"></span>
                            </div>

                            <div class="mb-3">
                                <label for="email" class="form-label">Correo</label>
                                <input type="text" class="form-control" placeholder="Ingrese su Correo" asp-for="informacionUsuario.Correo" />
                                <span class="text-danger text-start" asp-validation-for="informacionUsuario.Correo"></span>
                            </div>

                            <div class="mb-3 form-password-toggle">
                                <label class="form-label" for="password">Contraseña</label>
                                <input type="password" id="password" class="form-control" placeholder="&#xb7;&#xb7;&#xb7;&#xb7;&#xb7;&#xb7;&#xb7;&#xb7;&#xb7;&#xb7;&#xb7;&#xb7;" aria-describedby="password" asp-for="informacionUsuario.Contrasennia" />
                                <span class="text-danger text-start" asp-validation-for="informacionUsuario.Contrasennia"></span>
                            </div>
                            <button type="submit" class="btn btn-primary d-grid w-100">Registrarse</button>
                        </form>

                        <p class="text-center">
                            <a asp-action="Login">
                                <span>Iniciar sesión</span>
                            </a>
                        </p>
                    </div>
                </div>
                <!-- Register Card -->
            </div>
        </div>
    </div>

    <!-- / Content -->
    <!-- Core JS -->
    <!-- build:js assets/vendor/js/core.js -->
    <script src="~/sneat/vendor/libs/jquery/jquery.js"></script>
    <script src="~/sneat/vendor/libs/popper/popper.js"></script>
    <script src="~/sneat/vendor/js/bootstrap.js"></script>
    <script src="~/sneat/vendor/libs/perfect-scrollbar/perfect-scrollbar.js"></script>

    <script src="~/sneat/vendor/js/menu.js"></script>
    <!-- endbuild -->
    <!-- Vendors JS -->
    <!-- Main JS -->
    <script src="~/sneat/js/main.js"></script>

    <!-- Page JS -->
    <!-- Place this tag in your head or just before your close body tag. -->
    <script async defer src="https://buttons.github.io/buttons.js"></script>
</body>

<script>
    document.getElementById('confirm-password').addEventListener('input', function () {
        const password = document.getElementById('password').value;
        const confirmPassword = this.value;

        if (password !== confirmPassword) {
            this.setCustomValidity('Las contraseñas no coinciden.');
        } else {
            this.setCustomValidity('');
        }
    });
</script>