<div class="erroe_page_wrapper">
    <div class="errow_wrap">
        <div class="container text-center">
            <img src="~/images/sad.png" alt="">
            <div class="error_heading  text-center">
                <h3 class="headline font-danger text-color-secondary">401</h3>
            </div>
            <div class="col-md-8 offset-md-2 text-center">
                <p>No tiene permiso para acceder al recurso.</p>
            </div>
            <div class="error_btn  text-center">
                <a class="btn btn-danger" id="button-secondary" asp-action="Index" asp-controller="Ventas">Volver a Inicio</a>

            </div>
        </div>
    </div>
</div>