@model ConfirmarOrdenDTO
<div class="container order_area">
    <div class="cart_inner">
        <div class="billing_details">
            <div class="row">
                <div class="col-lg-8">
                    <h3>Detalles de facturación</h3>
                    <form class="row contact_form" action="CrearOrden" method="post">
                        <div class="col-md-12 form-group">
                            <label>Nombre completo</label>
                            <input type="text" class="form-control" placeholder="Nombre completo" asp-for="ClienteInfo.Nombre">
                        </div>
                        <div class="col-md-12 form-group">
                            <label>Dirección de entrega</label>
                            <input type="text" class="form-control" placeholder="Dirección de entrega" asp-for="ClienteInfo.Direccion">
                        </div>
                        <div class="col-md-6 form-group">
                            <label>NIT</label>
                            <input type="text" class="form-control" placeholder="NIT" asp-for="ClienteInfo.NIT">
                        </div>
                        <div class="col-md-6 form-group">
                            <label>Teléfono</label>
                            <input type="text" class="form-control" placeholder="Teléfono" asp-for="ClienteInfo.Telefono">
                        </div>
                        <div class="col-md-12 form-group">
                            <label>E-mail</label>
                            <input type="text" class="form-control" placeholder="E-mail" asp-for="ClienteInfo.Correo">
                        </div>
                        <div class="col-md-12 form-group">
                            <textarea class="form-control" name="message" placeholder="Observaciones" asp-for="Observaciones"></textarea>
                        </div>
                    </form>
                </div>
                <div class="col-lg-4">
                    <div class="order_box">
                        <h2>Tu Orden</h2>
                        <ul class="list">
                            <li><a href="#">Producto <span>Total</span></a></li>
                            @foreach (var item in Model.DetallesCarrito)
                            {
                                <li><a href="#">@item.NombreProducto<span class="middle">x @item.Cantidad</span> <span class="last">@("Q" + (item.Cantidad * item.PrecioUnidad).ToString("N2"))</span></a></li>
                            }
                        </ul>
                        <ul class="list list_2">
                            <li>
                                <a href="#">
                                    Total <span>
                                        @("Q" + Model.DetallesCarrito.Sum(x => x.Cantidad * x.PrecioUnidad).ToString("N2"))
                                    </span>
                                </a>
                            </li>
                        </ul>
                        <a class="primary-btn" href="#">Pagar con Paypal</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>