<!-- Start Banner Hero -->
<div id="template-mo-zay-hero-carousel" class="carousel slide" data-bs-ride="carousel">
    <ol class="carousel-indicators">
        <li data-bs-target="#template-mo-zay-hero-carousel" data-bs-slide-to="0" class="active"></li>
        <li data-bs-target="#template-mo-zay-hero-carousel" data-bs-slide-to="1"></li>
        <li data-bs-target="#template-mo-zay-hero-carousel" data-bs-slide-to="2"></li>
    </ol>
    <div class="carousel-inner">
        <div class="carousel-item active">
            <div class="container">
                <div class="row p-5">
                    <div class="mx-auto col-md-8 col-lg-6 order-lg-last">
                        <img class="img-fluid" src="~/zay/img/banner_img_01.jpg" alt="">
                    </div>
                    <div class="col-lg-6 mb-0 d-flex align-items-center">
                        <div class="text-align-left align-self-center">
                            <h1 class="h1 text-success"><b>e-shoes</b> eCommerce</h1>
                            <h3 class="h2">Estilo y comodidad para el hombre moderno.</h3>
                            <p>
                                Descubre la elegancia en cada paso con nuestra colección de calzado masculino. Diseñados para el hombre
                                moderno que busca estilo y comodidad, nuestros zapatos te acompañarán en cada uno de tus logros.
                            </p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="carousel-item">
            <div class="container">
                <div class="row p-5">
                    <div class="mx-auto col-md-8 col-lg-6 order-lg-last">
                        <img class="img-fluid" src="~/zay/img/banner_img_04.png" alt="">
                    </div>
                    <div class="col-lg-6 mb-0 d-flex align-items-center">
                        <div class="text-align-left">
                            <h1 class="h1">Calzado Femenino</h1>
                            <h3 class="h2">Haz lucir tus pasos</h3>
                            <p>
                                Brilla con cada pisada y deja una huella de sofisticación. Nuestra selección de calzado para mujeres ofrece moda y confort,
                                ideal para destacar en cualquier ocasión. Encuentra el par perfecto que refleje tu personalidad.
                            </p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="carousel-item">
            <div class="container">
                <div class="row p-5">
                    <div class="mx-auto col-md-8 col-lg-6 order-lg-last">
                        <img class="img-fluid" src="~/zay/img/banner_img_02.jpg" alt="">
                    </div>
                    <div class="col-lg-6 mb-0 d-flex align-items-center">
                        <div class="text-align-left">
                            <h1 class="h1">Calzado Infantil</h1>
                            <h3 class="h2">Diversión y comodidad para sus aventuras</h3>
                            <p>
                                Pequeños pasos, grandes sueños. Diseñado para sus aventuras, nuestro calzado infantil combina diversión y comodidad.
                                Acompaña a tus hijos en cada etapa de su crecimiento con zapatos que los hacen sonreír..
                            </p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <a class="carousel-control-prev text-decoration-none w-auto ps-3" href="#template-mo-zay-hero-carousel" role="button" data-bs-slide="prev">
        <i class="fas fa-chevron-left"></i>
    </a>
    <a class="carousel-control-next text-decoration-none w-auto pe-3" href="#template-mo-zay-hero-carousel" role="button" data-bs-slide="next">
        <i class="fas fa-chevron-right"></i>
    </a>
</div>
<!-- End Banner Hero -->
<!-- Start Categories of The Month -->
<section class="container py-5">
    <div class="row text-center pt-3">
        <div class="col-lg-6 m-auto">
            <h1 class="h1">Calzado por Categorias</h1>
            <p>
                Encuentra tu paso perfecto, recuerda que tu viaje comienza con el calzado adecuado.
            </p>
        </div>
    </div>
    <div class="row">
        <div class="col-12 col-md-4 p-5 mt-3">
            <a href="#"><img src="~/zay/img/category_img_01.jpg" class="category-image"></a>
            <h5 class="text-center mt-3 mb-3">Hombres</h5>
            <p class="text-center"><a class="btn btn-success">Comprar</a></p>
        </div>
        <div class="col-12 col-md-4 p-5 mt-3">
            <a href="#"><img src="~/zay/img/category_img_02.jpg" class="category-image"></a>
            <h2 class="h5 text-center mt-3 mb-3">Mujeres</h2>
            <p class="text-center"><a class="btn btn-success">Comprar</a></p>
        </div>
        <div class="col-12 col-md-4 p-5 mt-3">
            <a href="#"><img src="~/zay/img/category_img_03.jpg" class="category-image"></a>
            <h2 class="h5 text-center mt-3 mb-3">Niños</h2>
            <p class="text-center"><a class="btn btn-success">Comprar</a></p>
        </div>
    </div>


</section>
<!-- End Categories of The Month -->
<!-- Start Featured Product -->
<section class="bg-light">
    <div class="container py-5">
        <div class="row text-center py-3">
            <div class="col-lg-6 m-auto">
                <h1 class="h1">Productos Destacados</h1>
                <p>
                    Explora nuestra colección de productos destacados, cuidadosamente seleccionados para ofrecerte lo mejor en calzado para toda la familia.
                    Cada par refleja un equilibrio perfecto entre estilo, comodidad y calidad, asegurando que encuentres el zapato ideal para cualquier ocasión.
                </p>
            </div>
        </div>
        <div class="row">
            <div class="col-12 col-md-4 mb-4">
                <div class="card h-100">
                    <a href="shop-single.html">
                        <img src="~/zay/img/feature_prod_01.png" class="card-img-top" alt="...">
                    </a>
                    <div class="card-body">
                        <ul class="list-unstyled d-flex justify-content-between">
                            <li>
                                <i class="text-warning fa fa-star"></i>
                                <i class="text-warning fa fa-star"></i>
                                <i class="text-warning fa fa-star"></i>
                                <i class="text-muted fa fa-star"></i>
                                <i class="text-muted fa fa-star"></i>
                            </li>
                            <li class="text-muted text-right">Q.640.00</li>
                        </ul>
                        <a href="shop-single.html" class="h2 text-decoration-none text-dark">Puma Shuffle Perf 380150 09</a>
                        <p class="card-text">
                            Categorías: Hombre, Tenis Casual Streetstyle.
                        </p>
                        <p class="text-muted">Vendidos (24)</p>
                    </div>
                </div>
            </div>
            <div class="col-12 col-md-4 mb-4">
                <div class="card h-100">
                    <a href="shop-single.html">
                        <img src="~/zay/img/feature_prod_02.jpg" class="card-img-top" alt="...">
                    </a>
                    <div class="card-body">
                        <ul class="list-unstyled d-flex justify-content-between">
                            <li>
                                <i class="text-warning fa fa-star"></i>
                                <i class="text-warning fa fa-star"></i>
                                <i class="text-warning fa fa-star"></i>
                                <i class="text-muted fa fa-star"></i>
                                <i class="text-muted fa fa-star"></i>
                            </li>
                            <li class="text-muted text-right">Q.480.00</li>
                        </ul>
                        <a href="shop-single.html" class="h2 text-decoration-none text-dark">Helga White Coral</a>
                        <p class="card-text">
                            Categorías: Mujer, Sale, Sandalia Casual Cuña.
                        </p>
                        <p class="text-muted">Vendidos (48)</p>
                    </div>
                </div>
            </div>
            <div class="col-12 col-md-4 mb-4">
                <div class="card h-100">
                    <a href="shop-single.html">
                        <img src="~/zay/img/feature_prod_03.png" class="card-img-top" alt="...">
                    </a>
                    <div class="card-body">
                        <ul class="list-unstyled d-flex justify-content-between">
                            <li>
                                <i class="text-warning fa fa-star"></i>
                                <i class="text-warning fa fa-star"></i>
                                <i class="text-warning fa fa-star"></i>
                                <i class="text-warning fa fa-star"></i>
                                <i class="text-warning fa fa-star"></i>
                            </li>
                            <li class="text-muted text-right">Q.360.00</li>
                        </ul>
                        <a href="shop-single.html" class="h2 text-decoration-none text-dark">Puma Caven 2.0 JR 393837 21</a>
                        <p class="card-text">
                            Categorías: Niño, Tenis Casual Streetstyle.
                        </p>
                        <p class="text-muted">Vendidos (74)</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
