/* line 2, G:/admin_project/8 admin/management_html/scss/_error_page.scss */
.erroe_page_wrapper .errow_wrap {
    display: flex;
    padding: 40px 0;
    align-items: center;
    justify-content: center;
}

    /* line 7, G:/admin_project/8 admin/management_html/scss/_error_page.scss */
    .erroe_page_wrapper .errow_wrap img {
        width: 100px;
        margin: auto;
    }

    /* line 11, G:/admin_project/8 admin/management_html/scss/_error_page.scss */
    .erroe_page_wrapper .errow_wrap .error_heading {
        margin-top: 60px;
    }

        /* line 14, G:/admin_project/8 admin/management_html/scss/_error_page.scss */
        .erroe_page_wrapper .errow_wrap .error_heading h3.headline {
            font-size: 200px;
            font-weight: 800;
            line-height: 1;
        }

@media (max-width: 991px) {
    /* line 14, G:/admin_project/8 admin/management_html/scss/_error_page.scss */
    .erroe_page_wrapper .errow_wrap .error_heading h3.headline {
        font-size: 120px;
    }
}

/* line 24, G:/admin_project/8 admin/management_html/scss/_error_page.scss */
.erroe_page_wrapper .errow_wrap p {
    font-size: 18px;
    letter-spacing: 1px;
    color: #000;
    font-weight: 400;
    margin-top: 30px;
    line-height: 35px;
    margin-bottom: 30px;
}
